body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
--bg: #242526;
--bg-accent: #484a4d;
--text-color: #dadce1;
--nav-size: 60px;
--border: 1px solid #474a4d;
--border-radius: 8px;
--speed: 500ms;
--color-red-background: #dc3545;
--color-red-foreground: #ffffff;
--color-red-border: #CD303E;

--color-yellow-background: #ffc107;
--color-yellow-foreground: #000000;
--color-yellow-border: #EBAE06;

--color-green-background: #28a745;
--color-green-foreground: #ffffff;
--color-green-border: #28a745;

--color-blue-background: #007bff;
--color-blue-foreground: #ffffff;
--color-blue-border: #006FF0;

--color-black-background: #000000;
--color-black-foreground: #ffffff;
--color-black-border: #333333;  
}


.main {
  display: flex;
}

.main > *:nth-child(1) {
  flex: 1 1 30%;
}
.main > *:nth-child(2) {
  flex: 1 1 30%;
}
.main > *:nth-child(3) {
  flex: 1 1 30%;
}

.main {
  margin-top: 25px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.loader {
width: 48px;
height: 48px;
display: block;
margin: 300px auto;
position: relative;
border: 3px solid #FFF;
border-radius: 50%;
box-sizing: border-box;
animation: animloader 2s linear infinite;
}
.loader::after {
content: '';  
box-sizing: border-box;
width: 6px;
height: 24px;
background: #FFF;
transform: rotate(-45deg);
position: absolute;
bottom: -20px;
left: 46px;
}

@keyframes animloader {
0% {
  transform: translate(-10px, -10px);
}
25% {
  transform: translate(-10px, 10px);
}
50% {
  transform: translate(10px, 10px);
}
75% {
  transform: translate(10px, -10px);
}
100% {
  transform: translate(-10px, -10px);
}
}
  

.cardstop {
  display:flex;
  color: var(--text-color);
  background-color:var(--bg-accent);
  padding: 20px;
  margin-bottom: -5px;
  margin-top: 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.testing {
  color: var(--text-color);
  padding: 0 1rem;
  background-color:var(--bg-accent);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.form {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

*, *::before, *::after {
  box-sizing: border-box;
}
.custom-field {
  position: relative;
  font-size: 14px;
  padding-top:20px;
  margin-bottom: 2px;
}
.custom-field2 {
  position: relative;
  font-size: 14px;
  padding-top:0px;
  margin-bottom: 0px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance:none;
  -moz-appearance: none;
  appearance: none;
  background: var(--bg);
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
  color: var(--text-color);
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: 
    top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}
.disco {
  position: absolute;
  right: 12px;
  top: 6px;
  font-size: 10px;
}

.disco2 {
  position: absolute;
  right: 28px;
  top: 1px;
  font-size: 10px;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: 12px;
  font-size: 10px;
  color: var(--text-color);
}

button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin-top: 20px;
  background-color: var(--bg-accent);
  color: var(--text-color);
  width: 250px;
  height: 25px;
}

button:hover {
  filter: brightness(1.2);
}

.dropd {
  padding: 8px, 12px;
  padding-block: 12px;
  padding-inline: 12px;
  color: #aaa;
  background-color: var(--bg);
  border: 1px solid var(--bg-accent);
  cursor: pointer;
  border-radius: 3px;
  margin: 14px;
  margin-bottom: 0px;
  width: 250px
}

.dropd2 {
  padding: 8px, 12px;
  padding-block: 0px;
  padding-inline: 12px;
  color: #aaa;
  background-color: var(--bg);
  border: 1px solid var(--bg-accent);
  cursor: pointer;
  border-radius: 3px;
  margin: 5px;
  width: 250px;
}

.fund {
  padding: 5px, 5px;
  padding-block: 0px;
  padding-inline: 12px;
  color: #aaa;
  background-color: var(--bg);
  border: 1px solid var(--bg-accent);
  cursor: pointer;
  border-radius: 3px;
  margin: 0px;
  width: 250px;
  height: 20px;
  left: 0px;
}

.descr {
  padding: 8px, 12px;
  color: #aaa;
  background-color: var(--bg);
  border: 1px solid var(--bg-accent);
  border-radius: 3px;
  margin: 20px;
  width: 250px;
  height: 100px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* Graph widgets */

div.graph_widget h3.graph_title {
margin: 0 0 20px 0;
}

div.graph_widget h3.graph_title a {
color: #aaa;
}

div.graph {
display: table;
}
div.graph_item {
display: table-row;
}
span.graph_item_title {
display: table-cell;
vertical-align: right;
padding: 5px 10px 5px 0;
white-space: nowrap;
}
span.graph_item_value {
display: table-cell;
width: 100%;
padding-right: 7px;
border-left: solid 1px #dddddd;
}
span.graph_item_value span.value {
display: block;
height: 15px;
text-align: left;
padding-left: 5px;
font-size: 11px;
background-color: #242526;
color: #ffffff;
}
span.graph_item_value span.empty_value {
padding-right: 0;
}
div.graph_item.red span.graph_item_value span.value {
background-color: var(--color-red-background);
border: solid 1px var(--color-red-border);
color: var(--color-red-foreground);
}
div.graph_item.yellow span.graph_item_value span.value {
background-color: var(--color-yellow-background);
border: solid 1px var(--color-yellow-border);
color: var(--color-yellow-foreground);
}
div.graph_item.green span.graph_item_value span.value {
background-color: var(--color-green-background);
border: solid 1px var(--color-green-border);
color: var(--color-green-foreground);
}
div.graph_item.blue span.graph_item_value span.value {
background-color: var(--color-blue-background);
border: solid 1px var(--color-blue-border);
color: var(--color-blue-foreground);
}
div.graph_item.black span.graph_item_value span.value {
background-color: var(--color-black-background);
border: solid 1px var(--color-black-border);
color: var(--color-black-foreground);
}
div.graph_item:last-of-type span.graph_item_value {
border-bottom: solid 1px #dddddd;
}